* {
    margin: 0%;
    padding: 0%;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

/* nav style starts here */
nav {
    padding: 45px 240px;
}

.navber {
    display: flex;
}

.list {
    font-size: 1.2rem;
    font-weight: 500;
    color: #3C354F;
}

.follow-bar {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #3C354F;
    padding: 0 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.left-nav {
    display: flex;
    gap: 20px;
    width: 50%;
    align-items: center;
}

.left-nav img {
    width: 87px;
    height: 40px;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.title-first-letter {
    color: #FF42A5;
}

.right-nav>ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

.right-nav ul a {
    text-decoration: none;

}

.right-nav ul li {
    list-style: none;
}

.fa-youtube {
    color: red;
}

/* nav style ends here */

/* banner section starts here */
.banner-container {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #FFF;
}

.banner-info {
    height: 700px;
    background-image: url('./images/banner-bg.png');
    width: 100%;
    background-size: contain;
}

.banner-title {
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-name {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-info-details {

    margin-top: 145px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.description {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.btn-1 {
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    margin-top: 20px;
}

.btn-2 {
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    border: none;


}

.banner-img img {
    height: 700px;
    width: 500px;
    margin: 0 240px 0 68px;
}

/* banner section ends here */

/* game section start */
.game-section {
    margin-top: 50px;
}

.card {
    position: relative;
}

.card .hover-section {
    position: absolute;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000075;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.card:hover .hover-section {
    opacity: 1;
}


.game-head {
    text-align: center;
}

.game-span {
    color: #8758F1;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 50px;
    width: 80%;
    margin: auto;
}

.card .card-image-container {
    width: 300px;
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.card .card-image-container .card .hover-section {
    position: absolute;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000075;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s ease-in-out;
    border-radius: 10px;
}

.card .card-image-container:hover .hover-section {
    opacity: 1;
}



.card .card-image-container img {
    width: 300px;
    height: 400px;
}

.game-title {
    font-size: 48px;
    font-weight: 700;
}

/* game section end */

/* plays-store section */
.play-store-container {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    height: auto;
}

.play-store-head {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-store-info {
    width: 50%;
    margin-top: 120px;
}

.play-store-title {
    font-size: 48px;
    font-weight: 700;
}

.play-store-img {
    width: 634.833px;
    height: 650px;
}

.bottom-img {
    position: relative;
    bottom: 300px;
    right: 200px;
    border: none;
}


/* different-types-game */
.different-type-games-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.different-types-game {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 427px;

}

.games {
    display: flex;
    align-items: center;
    width: 200px;
    height: 80px;
    gap: 16px;
    background-color: #FFF;
    border-radius: 50px;
}

.games:hover {
    border: 1px solid #FF42A5;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* footer */
footer {
    max-width: 1920px;
    height: 50vh;
    background: #0B0223;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding: 150px 0px;
}

.title-last-letters {
    color: #FFFFFF;
}

.about {
    display: flex;
    gap: 60px;
    color: #FFF;
    margin-top: 40px;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}

.about2 {
    display: flex;
    gap: 60px;
    color: #FFF;
    margin-top: 40px;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}

.copyright {
    text-align: center;
    color: #FFF;
    margin-top: 50px;
}

.footer-nav {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.fa-brands {
    color: white;
    font-size: 40px;
    margin: 30px 0;
    gap: 40px;
    margin-right: 10px;
}

.navbar-icon {
    color: red !important;
}

/* media quary for phone */
@media screen and (max-width:576px) {

    nav {
        padding: 0;
    }

    .left-nav {
        margin-left: 79px;
    }

    .navber,
    .right-nav>ul,
    .card-container,
    .play-store-container {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column-reverse;
        width: auto;
    }

    .play-store-img {
        width: 100%;
        height: auto;
    }

    .banner-img img {
        height: 100%;
        width: 100%;
        margin: 0%;
    }

    .play-store-info {
        width: 100%;
    }

    .bottom-img {
        position: relative;
        bottom: 90px;
        width: 200px;
        height: 200px;
        right: auto;
        border: none;
    }

    footer {
        height: auto;
        padding: 20px;
        text-align: center;
        width: 97%;
    }


    .about,
    .icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .different-types-game,
    .about2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .games {
        display: flex;
        align-items: center;
        width: 200px;
        height: 80px;
        gap: 16px;
        background-color: #FFF;
        border-radius: 50px;
    }

    .different-types-game {
        height: auto;
        width: 100%;

    }

    .card-container {
        padding: 30px;
    }

    .games p {
        font-size: 20px;
    }

    .games img {
        height: 60px;
        width: 60px;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* media quary for tablet */
@media screen and (min-width:576px) and (max-width:992px) {


    .navber,
    .play-store-container {
        flex-direction: column;
    }

    .navber {
        gap: 40px 0;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .different-types-game,
    .icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        margin: auto;
    }

    .bottom-img {
        position: relative;
        bottom: 200px;
        right: 50px;
        border: none;
    }

    .banner-container {
        width: 80%;
        margin: auto;
        gap: 40px;
    }


}